<div class="centrar">
    <div>
        <a routerLink="/shop" class="container">
            <img src="assets/menu/store.png">
            <h2>Tienda</h2>
        </a>
        
        <a routerLink="/collection" class="container">
            <img src="assets/menu/xuxedex.png">
            <h2>Colección</h2>
        </a>
    
    </div>
    
    <div>
        
        <a routerLink="/hospital" class="container">
            <img src="assets/menu/hospital.png">
            <h2>Hospital</h2>
        </a>
        
        <a routerLink="/inventary" class="container">
            <img src="assets/menu/bag.png">
            <h2>Inventario</h2>
        </a>
    </div>
</div>